# .gitignore
*.tfstate
*tfstate.backup
./terraform/
secrets/
node_modules/
dist/
build/
*.log
*.tmp

# IDE and OS files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Local environment variables
.env
.env.local

# Logs
*.log
logs/

# Build artifacts
dist/
build/
*.o
*.class

# Kube config (sikkerhed!)
kubeconfig.yaml
.kube/
